[Unit]
Description=uif service
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/bin/uif/uif
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10s
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
