node_modules
.DS_Store
dist
dist-ssr
*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
pnpm-lock.yaml
uifd_dist
*~
[._]*.un~

uif.json
core_config.json
uif_key.txt
uifd.exe
Uif_service.exe
web_dist
webs_dist
web
webs
